<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - KrisKringle</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script>
            var rootAppPath = '@(Url.Content("~/"))';
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href=@Url.Content("~/lib/@fortawesome/fontawesome-free/css/all.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/lib/@fortawesome/fontawesome-free/css/v4-shims.min.css") rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/jquery-ui.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/jquery-ui.structure.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-themes-1.13.0/jquery-ui-themes-1.13.0/themes/smoothness/theme.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.13.0/jquery-ui-1.13.0/jquery-ui.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.13.0/jquery-ui-1.13.0/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="KrisKringle" asp-action="Admin">KrisKringle</a>*@
                <label class="navbar-brand"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">KrisKringle</a></label>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Users">USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Department">DEPARTMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Image">IMAGE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - KrisKringle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
